<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockQuoteService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.restfulwebservices.net/wcf/StockQuoteService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockQuoteService" contract="Bloomberg.IStockQuoteService" name="Bloomberg.IStockQuoteService"/>
        </client>
    </system.serviceModel>    
</configuration>